# Arduino Nano
#
# https://docs.arduino.cc/hardware/nano/

BOARD_ARCH = avr
BOARD = nano
CONFIG_DATE_LAYOUT = EU
CONFIG_MEASUREMENT_SYSTEM = METRIC
CONFIG_LED_LAYOUT = ROMAN
CONFIG_USE_SECONDS = 1
CONFIG_LED_TIME_LOWER_I2C_ADDR = 0x71
CONFIG_LED_TIME_UPPER_I2C_ADDR = 0x70
CONFIG_GPS_DISPLAY = LCD
CONFIG_LCD_DRIVER = PCF8574T
CONFIG_MODE_PIN = 8
CONFIG_GPS_RX_PIN = 3
CONFIG_GPS_TX_PIN = 2
